Source: ivs
Section: net
Priority: extra
Maintainer: Rich Lane <rlane@bigswitch.com>
Build-Depends: debhelper (>= 8.0.0), libnl-3-dev | libnl3-dev, libnl-genl-3-dev, libnl-route-3-dev | libnl3-dev, pkg-config, python-tz
Standards-Version: 3.9.3
Homepage: http://www.openflowhub.org/display/Indigo/Indigo+-+Open+Source+OpenFlow+Switches
Vcs-Git: git://github.com/bigswitch/ivs
Vcs-Browser: https://github.com/bigswitch/ivs

Package: ivs
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: openvswitch-datapath-module
Description: OpenFlow virtual switch
 IVS (Indigo Virtual Switch) is an OpenFlow virtual switch designed for high
 performance and minimal administration. It uses the openvswitch kernel module
 available in newer kernels or from the openvswitch-datapath-dkms package.

Package: ivs-dbg
Section: debug
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}, ivs (= ${binary:Version})
Description: OpenFlow virtual switch (debug symbols)
 IVS (Indigo Virtual Switch) is an OpenFlow virtual switch designed for high
 performance and minimal administration. It uses the openvswitch kernel module
 available in newer kernels or from the openvswitch-datapath-dkms package.
